@charset "UTF-8"

*{
	height:100%;
}
body{
	background-image:linear-gradient(to bottom, #E6BA7C, #E0D1BC);

}

h1{
	color: #E0D1BC;
	background-color: #473A28;
	text-align:center;
}
h2{
	color: #4A3313;/*#C78A34f9;*/
	/*background-color:#4A3313;*/
}
p{
	text-align: justify;
	font-family:'Work sans', 'Arial', 'sans-serif';
}
div{
	display:inline-block;
	width:200px;
	text-align:center;
}
div > p{
	display:none;
}
div:hover > p{
	display:block;
}
div > img{
	display:none;
}
div:hover > img{
	display:block;
}