@charset "UTF-8"

body{
	/*background-color:#DFAE78;*/
	font-family: Arial, Helvetica; sans-serif;
	font-size: 20px;
}
h1{
	color: #E0D1BC;
	background-color: #473A28;
	text-align:center;
}
h2{
	color: #4A3313;/*#C78A34f9;*/
	/*background-color:#4A3313;*/
}
p{
	text-align: justify;
}